.favorites-container {
    height: 100%;
    background-color: #FEFAE0;
}

.no-favorites {
    height: 100vh;
}

.no-favorites-container {
    font-size: 2rem;
    text-align: center;
    padding-top: 20vh;
}