.mobile-navbar {
  display: none;
}

.mobile-navbar {
  overflow: hidden;
}

.mobile-nav-container {
  padding: 20px 20px;
}

.mobile-nav-title {
  font-size: 2rem;
}


.mobile-nav-link {
  text-decoration: none;
  color: #432818;
  font-size: 1.2rem;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    transition: all 200ms ease-in-out;
  }

  .mobile-nav-links-container {
    list-style-type: none;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    width: 100vw;
    font-weight: 600;
  
  }

  .mobile-nav-link-item-container {
    list-style: none;
    cursor: pointer;
  }
  /* mobile-nav-links position absolute */
}
