.about-title {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 5px #ff9770 solid;
}

.about-us-bkg {
  background-color: #ff9770;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-flex-item {
  padding: 40px 100px 0px 100px;
}

.about-flex-item:nth-child(2) {
  /* flex: 1; */
  padding: 50px 100px 0px 100px;
}

.about-who-container,
.about-mission-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about-who-left,
.about-mission-right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-who-right,
.about-mission-left {
  flex: 1;
}

.about-mission-container {
  /* height: 100vh; */
}

@media only screen and (max-width: 960px) {
  .about-flex-item:nth-child(2) {
    padding: 20px 100px 0px 100px;
  }
  .about-img {
    height: 400px;
    width: 250px;
    border-radius: 10px;
  }

  .about-text {
    font-size: 1.2rem;
    padding: 0px 0px 20px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .about-img {
    height: 350px;
    width: 250px;
    border-radius: 10px;
  }

  .about-text {
    font-size: 1.2rem;
    padding: 0px 0px 20px 0px;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-flex-item {
    display: flex;
    flex-direction: column;
  }

  .about-who-left {
    order: 2;
  }

  .about-container {
    padding: 0px 0px 50px 0px;
  }
}

@media only screen and (max-width: 640px) {
  .about-flex-item {
    padding: 40px 80px 40px 80px;
  }

  .about-img {
    height: 350px;
    width: 250px;
    border-radius: 10px;
  }

  .about-text {
    font-size: 1.2rem;
    padding: 0px 0px 20px 0px;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-flex-item {
    display: flex;
    flex-direction: column;
  }

  .about-who-left {
    order: 2;
  }

  .about-container {
    padding: 0px 0px 50px 0px;
  }
}

@media only screen and (max-width: 480px) {
  .about-flex-item {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px 50px;
  }
}

@media only screen and (max-width: 320px) {
  .about-img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
  }

  .about-text {
    font-size: 1rem;
    padding: 0px 0px 10px 0px;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-flex-item {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }
  .about-container {
    padding: 0px 0px 20px 0px;
  }
}
