@media only screen and (max-width: 480px) {
  .filter-inner-container {
    height: 50px;
    width: 70vw;
    padding: 0px 10px;
  }
  .filter-input-box {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 320px) {
  .filter-inner-container {
    height: 50px;
    width: 80vw;
    padding: 0px 10px;
  }
  .filter-input-box {
    font-size: 0.65rem;
  }
}
