.filter-container {
    display: flex;
    justify-content: center;
}

.filter-inner-container {
    height: 50px;
    width: 50vw;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
}

.filter-input-box {
    /* text-indent: 5px; */
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 94%;
    text-indent: 5px;
    
}

.filter-btn {
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
}


