.card-container {
  /* padding: 0px 0px 20px 0px; */
  
}

.heart-fill-icon {
  color: #ef233c;
}

.card-item-container {
  background-color: #ffbc42;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heart-icon-container {
  cursor: pointer;
}

.card-img-container {
  padding: 0px 10px;
  height: 60%;
}

.card-img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.card-top {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.card-top div {
  margin-left: auto;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
}

.card-hashtags {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: 5px;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
}

.organization-name {
  font-weight: 600;
  margin-right: 5px;
}

@media only screen and (max-width: 320px) {

  .card-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);

  }
  .card-bottom {
    font-size: 0.9rem;
  }
}
