.heart-fill-icon {
  color: #ef233c;
}

/* .card-item-container {
  background-color: #ffbc42;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 1em;
} */

.heart-icon-container {
  cursor: pointer;
}

.card-img-container {
  height: 50%;
  margin: 0.5em 0;
}

.card-img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.card-top {
  display: flex;
  align-items: center;
}

.card-top div {
  margin-left: auto;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  overflow-wrap: break-word;

  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;

  font-size: 0.9rem;
}

.card-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-email-link {
  text-decoration: none;
  color: #432818;
}

.card-email-link:hover {
  text-decoration: none;
  /* color: #fefae0; */
}

.card-description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  line-height: 1.5em;
  /* min-height: 85px; */
}

.card-email {
  word-break: break-all;
}
.card-hashtags {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: 2px;
  flex-wrap: wrap;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
}

.organization-name {
  font-weight: 600;
  margin-right: 5px;
}

.icons {
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

@media only screen and (max-width: 960px) {
  .card-item-container {
    height: 60vh;
  }
}

@media only screen and (max-width: 480px) {
  .card-description {
    height: fit-content;
  }
  .card-item-container {
    height: 70vh;
  }
}

@media only screen and (max-width: 320px) {
  .card-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
  }
  .card-bottom {
    font-size: 0.9rem;
  }
}
