.navbar {
  overflow: hidden;
  background-color: #fefae0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.navbar-logo {
  height: 100%;
  width: 20vw;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  font-weight: 600;
}

.nav-link-item-container {
  list-style: none;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #432818;
  font-size: 1.3rem;
  transition: all 100ms ease-out;
}

.nav-link:hover {
  color: orange;
  border-bottom: 2px orange solid;
  transition: all 100ms ease-in;
}

.favorites-link {
  margin-left: auto;
  border: none;
  background-color: #ffbe0b;
  border-radius: 15px;
  letter-spacing: 1.5px;
}

.fav-link {
  padding: 10px;
  display: block;
  color: white;
}

.favorites-link {
  transition: 300ms ease-in-out;
}

.favorites-link:hover {
  transition: 300ms ease-in-out;
  transform: scale(1.15);
}

.fav-link:hover {
  color: white;
  border: none;
}
