.App {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.01);
  color: #432818;
  scroll-behavior: smooth;
}

section {
  margin: 50px 0px;
}

section:first-of-type,
section:last-of-type {
  margin: 0px;
}

.data-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.data-loading {
  text-align: center;
}

html,
body,
#root,
.App {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  section {
    padding: 0px 0px 40px 0px;
  }
}
